<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!--{}内为需要手动替换字段，{method}除外-->

	<!--是否编译二进制码-->
	<key>compileBitcode</key>
	<false/>

	<key>destination</key>
	<string>export</string>

	<!--此处{method}不需要手动替换，由脚本传入参数自动替换-->
	<key>method</key>
	<string>{method}</string>

	<!--签名方式 >> 自动-->
	<key>signingStyle</key>
	<string>automatic</string>

	<!--签名方式 >> 手动-->
	<!--<key>signingStyle</key>-->
	<!--<string>manual</string>-->
	<!--<key>provisioningProfiles</key>-->
	<!--<dict>-->
		<!--<key>{项目的bundleId}</key>-->
		<!--<string>{证书名称}</string>-->
	<!--</dict>-->

	<key>stripSwiftSymbols</key>
	<true/>

	<key>teamID</key>
	<string>{teamID}</string>

	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
